{
  "presets": ["kyt-react"],
  "env": {
    "development": {
      "plugins": [
        "transform-decorators-legacy",
        "transform-react-constant-elements",
        "transform-object-rest-spread",
        "syntax-object-rest-spread",
        "transform-class-properties",
        ["styled-components", {
          "ssr": false,
          "displayName": true
        }]
      ]
    },
    "production": {
      "plugins": [
        "transform-decorators-legacy",
        "transform-react-constant-elements",
        "transform-object-rest-spread",
        "syntax-object-rest-spread",
        "transform-class-properties",
        "transform-react-remove-prop-types",
        ["styled-components", {
          "ssr": true,
          "displayName": false
        }]
      ]
    }
  }
}
